<ul>
  <% @tasks.each do |task| %>
    <!-- a helper will provide a link for each task on the root page, with the '<a href=' passed in the 'link_to' variable and the task path passed in 'task' -->
    <li><%= link_to task.description, task %></li>
  <% end %>
</ul>

<% 21.times do %>
  <h2><%= @chunky_something %></h2>
<% end %>